body{
    background-color: rgb(28, 88, 88);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}


h1{
    width: 100px;
    height: 100px;
    color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px black;
}

table{
    background-color: rgb(3, 87, 3);
    align-self: center;
    border-radius: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    box-shadow: 2px 2px black;
}

td{
    background-color: rgb(85, 207, 85);
    border: 2px solid rgb(3, 87, 3);
    border-radius: 5px;
    padding: 30px;
}

td:hover{
    border:2px solid darkgoldenrod;
}

.timer-count{
    text-align: center;
    background-color: rgb(31, 167, 126);
    border: 2px solid;
    border-radius: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 3px 3px black;
}

.btn button{
    background-color: lightsalmon;
    border: 2px solid salmon;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px rgb(10, 12, 12);
}

.clicked{
    background-color: grey;
}

.new-game{
    background-color: lightcoral;
    border: 2px solid lightcyan;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 3px 3px black;
}